{% extends 'script/base.html' %} {% block content %}
<h2>
    {{ chapter.book }} {{ chapter.chapter_num }} 
    <a class="controls" href="{% url 'chapter_edit' pk=chapter.pk%}">(edit chapter)</a>
    <a ... onclick="return confirm('Are you sure you want to delete this chapter and all verses contained?')" class="controls delete" href="{% url 'chapter_delete' pk=chapter.pk %}">(delete chapter)</a>
</h2>
<p>
    {{ chapter.description }}
</p>
<h3>Verses
    <a class="controls" href="{% url 'verse_create'  %}">(add verse)</a>
</h3>
<ul>
  {% for verse in chapter.verses.all %}
  <li>
    <a href="{% url 'verse_detail' pk=verse.pk %}">{{ verse.verse_num }}. {{ verse.verse }}</a>
  </li>
  {% endfor %}
</ul>
{% endblock %}
